* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #181818;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30pt;
  color: white;
  text-align: center;
}

a {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15pt;
  color: white;
  text-align: center;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20pt;
  color: rgb(228, 228, 228);
  text-align: center;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20pt;
  color: rgb(228, 228, 228);
  text-align: center;
}

p {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.profile_container {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  background-color: #222222;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.header-info-h1 {
  font-size: 50pt;
  margin-top: 20px;
}

.header-info-h2 {
  font-size: 35pt;
  margin-top: 20px;
}

.header-info-h3 {
  font-size: 30pt;
  margin-top: 20px;
}

.content_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.best_deals {
  display: flex;
  flex-direction: column;
}

.best_deals_text_wrapper {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.best_deals_text {
  margin: 0 auto;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, blue, pink);
  font-size: calc(25pt + 4vw);
  text-align: center;
  text-transform: uppercase;
}

.product_card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 20px;
  border-width: 1px;
  border-color: rgb(201, 201, 201);
  box-shadow: 0 10px 0 #0e0e0e;
  background-color: #222222;
  border-radius: 10px;
  /* max-width: 250px;
  max-height: 300px; */
  width: 300px;
  height: 450px;
}

.product_card_image {
  width: 100%;
  height: 50%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.product_card_name {
  font-size: 20px;
}

.product_list_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.product_card:hover {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(201, 201, 201);
  box-shadow: 0 10px 0 #0e0e0e;
}

.product_short_info_wrapper {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product_photo {
  max-height: 400px;
  /* width: 200px; */
}

.footer_top_border {
  margin-top: 200px;
  width: 100%;
  height: 50px;
  background: linear-gradient(to right, blue, pink);
}

footer {
  width: 100%;
  background-color: #222222;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
}

footer h1 {
  font-size: calc(12pt + 2vw);
  margin-top: 10px;
  margin-left: 50px;
  color: rgb(90, 90, 90);
}

footer h2 {
  margin-top: 10px;
  margin-left: 50px;
  font-size: 30px;
  color: rgb(90, 90, 90);
}

footer p {
  margin-top: 10px;
  margin-left: 50px;
  font-size: 20px;
  color: rgb(90, 90, 90);
}

footer a {
  font-size: 30px;
  color: rgb(90, 90, 90);
}